.bn632-hover {
    width: 160px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    height: 40px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:focus {
    outline: none;
}

.bn632-hover.bn25 {
    background-image: linear-gradient( to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.teamName .bn632-hover {
    width: 70px !important;
    font-size: 12px;
    background-image: linear-gradient( to right, #15314e, #1b7979, #2b5876, #4e4376);
}

.delBtn {
    background-image: linear-gradient( to right, #9c1427, #ca3333, #400404, #640b0b) !important;
}

.iconBtn {
    background: none;
    border: none;
    font-size: 22px;
    transition: 0.3s;
}

.iconBtn:hover {
    background: none;
    border: none;
    color: #717171;
    font-size: 26px;
}

.iconBtn2:hover {
    color: white;
    font-size: 22px;
}

.roundBtn {
    border-radius: 30px;
    width: 40px;
    padding: 11px;
}